<h3>Home</h3>
<p>Welcome to the home of <%= @owner.name %>.</p>
<p>I was born on <%= @owner.birthdate %>.</p>
<p>Only <%= @owner.countdown %> days until my birthday!</p>

<p>La suma de 2 + 2 = <%= 2 + 2 %></p>

<p>
	<% 3.times do %>
		<li>list item</li>
	<% end %>
</p>

<p>
	<%#%>
	Un comentario
</p>
